/* */
//=require material-design-lite/material.min.js

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#main {
  flex: 1 0 auto;
}

.page_content {
  padding: 20px;
}

.page_content {
  padding: 20px;
}

.page_content .mdl-textblock {
  display: block;
}
